*{
    overflow: auto;
}

span{
    font-size: 1.3rem;
}

/* EMPLACEMENT */

#emplacement{
    position: absolute;
    text-align: left;
    height: auto;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* BTN */

.btn{
    cursor: pointer;
    width: 100%;
    background-color: orange;
    font-size: 1rem;
    border: solid black 0.5px;
    border-radius: 3px;
    transition: 0.4s;
}

.btn:hover{
    color: white;
    background-color: rgb(206, 135, 4);
    border-radius: 15px;
}